$default-color: #C4C4C4;
$main-font:'Roboto';
$title-color:#7B6F6F;
$font-color: #749bd8;
// $font-color: #00ff75;
$CTA: #79747E ;

// $pink_theme_dialog_bg: white;
// $pink_theme_title: #ec1654;
// $pink_theme_main: #f90268;
// $pink_theme_btn: #ec1654;
// $pink_font_color: #a90031;
// $pink_footer_color:#ec1654;

$pink_theme_dialog_bg: white;
$pink_theme_title: white;
$pink_theme_main: #0e0e30;
$pink_theme_btn: #0a0a25;
$pink_font_color: rgb(89, 241, 246);
$pink_font_color2: #0a0a25;
$pink_footer_color: #1A1440;

// $pink_theme_dialog_bg: white;
// $pink_theme_title: white;
// $pink_theme_main: #17174b;
// $pink_theme_btn: #0e0e30;


