@import '../../sass/variables.scss';
.main{
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bottle {
      display:flex;
      align-items: center;
      font-size: 40px;
      span{
        font-family: snake-font;
        font-size: 25px;
      }
    }
    padding-top: 30px;
}
.contents{
  width:85%;
  margin: 0 auto;

}
.item-center{
  display: flex;
  align-items: center;
}
.nft_panel{
  padding:20px 30px;
  background-color: rgba(93, 205, 97, 0.65);
  border: 3px solid white;
  border-radius: 40px;
  h1{
    margin-bottom: 30px;
    font-family: snake-font;
  }
}
.align_center{
  text-align: center;
}

.button_group{
  display: flex;
  justify-content: space-between;
}

.btn_home{
  background: url("../../image/btn_home.png") no-repeat;
  background-size:100%, 100%;
  width:150px;
  height:67px;
}

.btn_stake{
  background: url("../../image/btn_stake.png") no-repeat;
  background-size:100%, 100%;
  width: 190px;
  height: 85px;
}

.btn_fight{
  background: url("../../image/btn_fight.png") no-repeat;
  background-size:100%, 100%;
  width:150px;
  height:67px;
}