@import '../../sass/variables.scss';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .bottle {
      display:flex;
      align-items: center;
      font-size: 40px;
      span{
        font-family: snake-font;
        font-size: 25px;
      }
    }
    padding-top: 30px;
}

.sidebar{
  width: 240px;
}

.contents{
  margin: 0 auto;
  overflow: auto;
  h1{
    margin-bottom:30px;
  }
}

.page_contents{
  
  margin: auto;
  margin-top: 120px;
  width: 80%;
  padding: 20px;
}
